$primary-bg: rgb(25, 30, 45);
$secondary-bg: rgb(33, 38, 52);
$tertiary-bg: rgb(45, 50, 60);
$quaternary-bg: rgb(55, 60, 70);
$quinary-bg: rgb(65, 70, 80);
$senary-bg: rgb(75, 80, 90);
$primary-text: rgb(255, 255, 255);
$secondary-text: rgb(200, 200, 200);
